In [4]:
import pandas as pd
import numpy as np
import os

from sklearn.feature_extraction.text import TfidfTransformer

In [18]:
tr = pd.read_csv('training_dataset.csv')

print(tr.head)

<bound method NDFrame.head of        Unnamed: 0 label                                               text
0               0   TUR  Life is all about the preferences. some people...
1               1   TEL  \tI agree with the statement that "Most advert...
2               2   FRE  \tIn today's society, advertisement is the sou...
3               3   SPA  I am agree with the statement. I think that pe...
4               4   KOR  \tSome people may think that the older people ...
...           ...   ...                                                ...
10995       10995   JPN  I think that it is better to specialize in one...
10996       10996   TUR  first of all \ I think to be achcive what we w...
10997       10997   ARA  \tI am agree with the statement that sucessful...
10998       10998   CHI  Before presenting my point of view, I think it...
10999       10999   SPA  \tThroughtout high school, students learn seve...

[11000 rows x 3 columns]>

In [33]:
tr['Unnamed: 0']

0            0
1            1
2            2
3            3
4            4
         ...
10995    10995
10996    10996
10997    10997
10998    10998
10999    10999
Name: Unnamed: 0, Length: 11000, dtype: int64

In [ ]:
data_directory = "nli"

X, y = [], []

x = pd.DataFrame(columns=['Text', 'Word', 'POS', 'Tag', 'Dependency'])
z = pd.DataFrame(columns = [''])

cnt = 1
for filename in os.listdir(data_directory):
    y, _ = filename.split("_")
    doc = nlp(open(os.path.join(data_directory, filename), "r").read())
    print(f'Now processing text: {filename}, text {cnt} of {len(os.listdir(data_directory))}')
    cnt += 1

    for token in doc:
        x = x.append({'Text': _, 'Word': token.text, 'POS': token.pos_, 'Tag' : token.tag_, 'Dependency' : token.dep_}, ignore_index=True)
    
Y.append(y)
#X.append(x)

print('Done')

In [34]:
import os
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

#################################################
#	Generation of the dataframe containing the 	#
#	raw training text and their assigned labels	#
#################################################

df = pd.DataFrame(columns = ['label', 'text'])

cnt = 1

data_directory = 'nli2'

for filename in os.listdir(data_directory):
    print(f'Now processing text: {filename}, text {cnt} of {len(os.listdir(data_directory))}')
    cnt += 1
    
    label_, _ = filename.split("_")
    doc_ = open(f'{data_directory}/{filename}', 'r').read()
    
    df = df.append({'label': label_, 'text': doc_}, ignore_index = True)

Now processing text: ITA_10156.txt, text 1 of 20
Now processing text: TUR_10817.txt, text 2 of 20
Now processing text: ITA_10137.txt, text 3 of 20
Now processing text: JPN_2088.txt, text 4 of 20
Now processing text: TUR_10834.txt, text 5 of 20
Now processing text: ARA_122.txt, text 6 of 20
Now processing text: ITA_10111.txt, text 7 of 20
Now processing text: TUR_10803.txt, text 8 of 20
Now processing text: ITA_10106.txt, text 9 of 20
Now processing text: JPN_2080.txt, text 10 of 20
Now processing text: JPN_1993.txt, text 11 of 20
Now processing text: ARA_125.txt, text 12 of 20
Now processing text: ARA_140.txt, text 13 of 20
Now processing text: ITA_10145.txt, text 14 of 20
Now processing text: TUR_10830.txt, text 15 of 20
Now processing text: ARA_154.txt, text 16 of 20
Now processing text: JPN_1986.txt, text 17 of 20
Now processing text: TUR_10828.txt, text 18 of 20
Now processing text: ARA_146.txt, text 19 of 20
Now processing text: JPN_2037.txt, text 20 of 20

In [35]:
df.head()

  label                                               text
0   ITA  Traffic, a rapid increase in fuel price and it...
1   TUR  While I was in school I was very unhappy when ...
2   ITA  The idea that young people nowadays do not dev...
3   JPN     Some people think that  it is the best way ...
4   TUR     Are you young? you have to know the importa...

In [36]:

df.to_csv(r'testje.csv')

In [38]:
tr = pd.read_csv('training_dataset.csv')

tr.head()

   Unnamed: 0 label                                               text
0           0   TUR  Life is all about the preferences. some people...
1           1   TEL  \tI agree with the statement that "Most advert...
2           2   FRE  \tIn today's society, advertisement is the sou...
3           3   SPA  I am agree with the statement. I think that pe...
4           4   KOR  \tSome people may think that the older people ...